body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
  background-color: #ffffff;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.logo:hover {
    text-decoration: underline;
}

.logo img {
  height: 45px;
  margin-right: 8px;
}

.logo .highlight {
  color: #9c00bc;
}

/* navbar ato sidebar */
.sidebar {
  width: 240px;
  background-color: #e5c6f0;
  padding: 20px;
  border-right: 1px solid #ccc;
  min-height: 100vh;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 410px;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar a{
    text-decoration: none;
    color: #ffffff;
}

.sidebar li.active,
.sidebar li:hover {
  background-color:#9c00bc;
  font-weight: bold;

}

.sidebar li.logout-button {
    margin-top: auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9c00bc;
}

.notification {
  margin: 20px 0;
}

.info-box {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
}

.info-box a {
  color: blue;
  text-decoration: underline;
}

.info-box.blue {
  background-color: #e3f2fd;
  border-left: 5px solid #2196f3;
}

.info-box.orange {
  background-color: #fff3e0;
  border-left: 5px solid #ff9800;
}

.stats {
  display: flex;
  gap: 16px;
  flex-wrap: wrap; 
  margin: 20px 0;
}

.stat-box {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  flex: 1;
  min-width: 250px;
  max-width: 320px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.stat-box .icon {
  background-color: #ececec;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-box strong {
  font-size: 1.2rem;
  color: #333;
}

.stat-box p {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

/* Riwayat Donasi */
.donation-history {
  margin-top: 40px;
}

.donation-history h2 {
  font-size: 1.2rem;
  margin-bottom: 16px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
}

table, th, td {
  border: 1px solid #e0e0e0;
}

th {
  background-color: #f4f4f4;
  color: #555;
  font-weight: 600;
}

th, td {
  padding: 12px 14px;
  text-align: left;
  font-size: 0.95rem;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

